* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header {
  background-color: green;
  display: flexbox;
  justify-content: center;
}

header h1 {
  text-align: center;
  padding: 2vw 0;
  color: white;
}

header div {
  padding: 0 2vw;
}

header .nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  text-align: center;
}

header ul a {
  display: block;
  padding: 1vh;
  width: 100vw;
}

header a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 2vh 5vw;
}

.container h1 {
  margin-bottom: 10px;
}

.card {
  position: relative;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.4);
  margin: 10px;
}

.card div {
  margin: 1vh;
}

.alert {
  padding: 5px;
  text-align: center;
}

.alert-success {
  background-color: palegreen;
  color: seagreen;
}

.alert-failure {
  background-color: tomato;
  color: darkred;
}

.alert-info {
  background-color: lightskyblue;
  color: navy;
}

.questions {
  margin-top: 5vh;
}

.types {
  display: flex;
  justify-content: left;
}

.types div {
  width: 33%;
  margin: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

fieldset {
  border: none;
}

li {
  list-style-type: none;
}

input {
  margin: 1vh;
}

#add-category {
  display: none;
}

#add-button {
  display: none;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: orange;
  text-decoration: none;
  color: black;
}

.seagreen {
  background-color: seagreen;
  color: white;
}

.button:hover {
  font-weight: bold;
}

label {
  font-weight: bold;
  margin: 2vh;
}

input {
  width: 70%;
  text-align: left;
  padding: 2px;
}

#category {
  margin: 0 10px;
}

#add-category {
  width: auto;
  margin: 0 10px;
}

#add-button, .submit-button {
  padding: 5px;
  border: 1px solid black;
  background-color: lavender;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  width: auto;
}

.question-field li {
  display: flex;
}

.question-field .correct {
  margin: 1vh;
  width: auto;
}

.question-field .input {
  margin: 1vh 0;
  width: auto;
}

footer {
  height: 100px;
  background-color: rgb(60,60,60);
}

@media only screen and (min-width: 720px) {
  header {
    position: relative;
    display: flex;
    justify-content: initial;
    align-items: center;
  }

  header h1 {
    text-align: left;
  }

  header .nav {
    position: absolute;
    height: 100%;
    right: 2vw;
  }

  header ul {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
  }

  header ul a {
    display: inline-flex;
    padding: 0 1vw;
    height: 100%;
    width: auto;
    align-items: center;
  }

  header ul a:hover {
    font-weight: bolder;
    background-color: rgba(0,0,0,.1);
  }

  header .nav {
    width: auto;
  }

  .container {
    margin: 2vw 20vw;
  }
}
