{% extends 'base.html' %}
{% block content %}
  <h1>Add Question</h1>
  <form class="card" method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="question-field">
        {{ form.exam.label }}
        <br>
        {{ form.exam() }}
      </div>
      <div class="question-field">
        {{ form.category.label }}
        <div>
          {{ form.category() }}
          {% for category in categories %}
            <script>
              sel = document.getElementById('category')
              opt = document.createElement('option')
              opt.appendChild( document.createTextNode('{{ category }}') );
              opt.value = '{{ category }}'; 
              sel.appendChild(opt); 
            </script>
          {% endfor %}
          <img onclick="openAddCategory()" id="open-button" src="{{ url_for('static', filename='icons/add.svg') }}">
          <input id="add-category" class="add-category" type="text">
          <a id="add-button" href="/add-category/">Add</a>
        </div>
        <script>
          const input = document.getElementById('add-category');
          const anchor = document.getElementById('add-button');

          input.oninput = () => { 
              anchor.href = '/add-category/' + input.value; 
          };
        </script>
      </div>
      <div class="question-field">
        {{ form.question.label }}
        <br>
        {{ form.question() }}
        <br>
        {{ form.question_type() }}
      </div>
      <div class="question-field">
        {{ form.question_image.label }}
        <br>
        {{ form.question_image() }}
        {% if form.question_image.errors %}
          {% for error in form.question_image.errors %}
            <span class="validation-error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="question-field">
        {{ form.answer_1.label }}
        <br>
        {{ form.answer_1() }}{{ form.correct_1(class="correct") }}
        {{ form.answer_2() }}{{ form.correct_2(class="correct") }}
        {{ form.answer_3() }}{{ form.correct_3(class="correct") }}
        {{ form.answer_4() }}{{ form.correct_4(class="correct") }}
      </div>
      <div class="question-field">
        {{ form.source.label }}
        <br>
        {{ form.source() }}
      </div>
    </fieldset>
    {{ form.submit(class="submit-button") }}
  </form>
    <script>
      function openAddCategory() {
        openButton = document.getElementById('open-button')
        addCategory = document.getElementById('add-category')
        addButton = document.getElementById('add-button')
        if (openButton.style.display != 'none') {
          openButton.style.display = 'none'
          addCategory.style.display = 'initial'
          addButton.style.display = 'initial'
        } else {
          openButton.style.display = 'initial'
          addCategory.style.display = 'none'
          addButton.style.display = 'none'
        }
      }
    </script>
    <script>
      question_type = document.getElementById('question_type')
      answer_1 = document.getElementById('answer_1')
      answer_2 = document.getElementById('answer_2')
      answer_3 = document.getElementById('answer_3')
      answer_4 = document.getElementById('answer_4')
      question_type.oninput = () => {
        if (question_type.value == "Boolean") {
          answer_1.value = "True"
          answer_2.value = "False"
          answer_3.value = "n/a"
          answer_4.value = "n/a"
        } else if (answer_1.value == "True" && answer_2.value == "False" && answer_3.value == "n/a" && answer_4.value == "n/a") {
          answer_1.value = ""
          answer_2.value = ""
          answer_3.value = ""
          answer_4.value = ""
        }
      }
    </script>
{% endblock content %}