{% extends 'base.html' %}
{% block content %}
  <div class="content">
    <h1>Questions</h1>
    {% for question in questions %}
      <div class="question-container">
        <div>
          <h4>Question:</h4>
          <p>{{ question.question }}</p>
          <br>
          <h4>Category:</h4>
          <p>{{ question.category }}</p>
          <br>
          <h4>Exam:</h4>
          <p>{{ question.exam}}</p>
          <br>
          <h4>Question Type:</h4>
          <p>{{ question.question_type }}</p>
          <br>
        </div>
        <div>
          <h4>Source:</h4>
          <p>{{ question.source }}</p>
          <br>
        </div>
        <div>
          <h4>Answers:</h4>
          <p>{{ question.answers }}</p><br>
        </div>
        {% if question.question_image and question.question_image != 'No Image'%}
          <div>
            <h4>Question Image:</h4>
            <a target="_blank" class="image-link" href="{{ url_for('static', filename='images/' + question.question_image) }}">Image</a>
          </div>
        {% endif %}
        <a href="/delete/{{ question.id }}">
          <img class="close" src="{{ url_for('static', filename='icons/close.svg') }}">
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}