{% extends 'base.html' %}
{% block content %}
  <h1>Questions</h1>
  {% for question in questions %}
    <div class="card">
      <div class="questions">
        <div>
          <h4>Question:</h4>
          <p>{{ question.question }}</p>
        </div>
        <div class="types">
          <div>
            <h4>Question Type:</h4>
            <p>{{ question.question_type }}</p>
          </div>
          <div>
            <h4>Category:</h4>
            <p>{{ question.category }}</p>
          </div>
          <div>
            <h4>Exam:</h4>
            <p>{{ question.exam}}</p>
          </div>
        </div>
      </div>
      <div class="answers">
        <h4>Answers:</h4>
        <p>{{ question.answer_1 }}</p><br><p>{{ question.correct_1 }}</p><br>
        <p>{{ question.answer_2 }}</p><br><p>{{ question.correct_2 }}</p><br>
        <p>{{ question.answer_3 }}</p><br><p>{{ question.correct_3 }}</p><br>
        <p>{{ question.answer_4 }}</p><br><p>{{ question.correct_4 }}</p><br>
        <h4>Source:</h4>
        <p>{{ question.source }}</p>
        <br>
      </div>
      {% if question.question_image and question.question_image != 'No Image'%}
        <div>
          <h4>Question Image:</h4>
          <a target="_blank" class="image-link" href="{{ question.question_image }}">Download Image</a>
        </div>
      {% endif %}
      <a class="close" href="/delete/{{ question.id }}/origin-questions">
        <img src="{{ url_for('static', filename='icons/close.svg') }}">
      </a>
    </div>
  {% endfor %}
{% endblock content %}